<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/doctor/style.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Quattrocento Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css2?family=Scada&display=swap' rel='stylesheet'>
    <title>Diabetes@Home</title>
</head>
<body>
    <div class="header">
        <p><a href="/doctor/dashboard">
        <img src="/media/logo.png" alt="LOGO">
        </a></p>
        <nav>
            <ul>
          
            <li><a href="/doctor/addNewPatient">New Patient</a></li>
            <li><a href="/doctor/comment">Comments</a></li>
            <li><a href="/doctor/login">Log Out</a></li>
          </ul>
        </nav>
      </div>

    <div class="backbutton">
        <a href="/doctor/dashboard"><input type="button" value="BACK TO DASHBORD"></a>
        <br>
        <br>
        <input type="button" value="BACK" onclick="history.back()">       {{!-- back button, return to previous page --}}
    </div>
{{!-- display patients comments list --}}
    <div class="commentslist">
            {{#each comments}}
            <br>
            <legend> Patient:
                <a href="/doctor/patientDetail/{{this.patient._id}}">{{this.patient.first_name}} {{this.patient.last_name}}</a>
                &nbsp;&nbsp;&nbsp;&nbsp;Data: {{this.data}}&nbsp;&nbsp;&nbsp;&nbsp;Date: {{this.createdAt}} </legend>
                
            <div class="commentrecord">
                <p>{{this.text}}</p>
            
            </div>
            {{/each}}
            
    </div>

    
</body>
</html>