<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Quattrocento Sans' rel='stylesheet'>
        <title>Diabetes@Home</title>
        <link rel="stylesheet" href="/css/patient/styles.css">
</head>
        <div class="header2">  <!-- header part and logo img -->
            <h1>Diabete@Home</h1>
            <img src="/media/logo.png" alt="LOGO">          
              <div class="Backbutton">
                <p><a href="./dashboard" style="color: white;text-decoration: none;">＜Back</a></p>
               </div>
          </div>
</head>
<body class="ui-long-content">
          
          <div class="row">     
              <div class="content4">  <!-- main part in this page -->
                <h2>MY RECORDS</h2> 
          </div>
            <div class="myRecordsButtons">   <!-- button list -->
                {{#if patient.need_exercise}}
                <div class="RecordDataE">
                  <input type="checkbox" id="one" >
                <label for="one" class="exercisePart">
                    <h2>Exercise ></h2>
                    <ul class="exerciseButton">
                    <table class="exerciseButtonTable">
                      <tr>
                        <th>Date</th>
                        <th>Steps</th>
                      </tr>
                      {{#each records}}
                      <tr>
                        <td>{{this.createdAt}}</th>
                        {{#if this.exercise}}
                        <td>{{this.exercise}}</th>
                        {{else}}
                        <td style="color: red;">Missing</th>
                        {{/if}}
                      </tr>
                      {{/each}}
                    </table>
                    </ul>
                </label>
              </div>
              {{/if}}
              {{#if patient.need_blood_glucose_level}}
              <div class="RecordDataB">
                <input type="checkbox" id="two" >
              <label for="two" class="BloodPart">
                  <h2>Blood glucose level ></h2>
                  <ul class="BloodButton">
                    <table class="BloodButtonTable">
                      <tr>
                        <th>Date</th>
                        <th>nmol/L</th>
                      </tr>
                      {{#each records}}
                      <tr>
                        <td>{{this.createdAt}}</th>
                        {{#if this.blood_glucose_level}}
                        <td>{{this.blood_glucose_level}}</th>
                        {{else}}
                        <td style="color: red;">Missing</th>
                        {{/if}}
                      </tr>
                      {{/each}}
                    </table>
                  </ul>
              </label>
             </div>
             {{/if}}

            {{#if patient.need_weight}}
             <div class="RecordDataW">
              <input type="checkbox" id="three" >
            <label for="three" class="WeightPart">
                <h2>Weight ></h2>
                <ul class="WeightButton">
                  <table class="WeightButtonTable">
                      <tr>
                        <th>Date</th>
                        <th>kg</th>
                      </tr>
                      {{#each records}}
                      <tr>
                        <td>{{this.createdAt}}</th>
                        {{#if this.weight}}
                        <td>{{this.weight}}</th>
                        {{else}}
                        <td style="color: red;">Missing</th>
                        {{/if}}
                      </tr>
                      {{/each}}
                    </table>
                </ul>
            </label>
           </div>
            {{/if}}
          {{#if patient.need_doses_of_insulin_taken}}
           <div class="RecordDataD">
            <input type="checkbox" id="four" >
          <label for="four" class="DosesPart">
              <h2>Doses of insulin  ></h2>
              <ul class="DosesButton">
                <table class="DosesButtonTable">
                  <tr>
                    <th>Date</th>
                    <th>Doses</th>
                  </tr>
                  {{#each records}}
                  <tr>
                    <td>{{this.createdAt}}</th>
                    {{#if this.doses_of_insulin_taken}}
                    <td>{{this.doses_of_insulin_taken}}</th>
                    {{else}}
                    <td style="color: red;">Missing</th>
                    {{/if}}
                  </tr>
                  {{/each}}
                </table>
              </ul>
          </label>
         </div>
          {{/if}}

            </div>
          </div>
    </body>

    <footer class="ui-footer">
      <HR align=center width=100% color=#7B7B7B SIZE=1> <!-- Dividing Line -->
    
    <div class="downnav">  <!-- button list in the menu -->
      <p style="text-align: center;">
          <img src="/media/home.png" alt="Home" width="30%" height="30%">
      </p>
      <p style="text-align: center;">
            <img src="/media/message.png" alt="Home" width="30%" height="30%">
      </p>
      <p style="text-align: center;">
            <img src="/media/more.png" alt="Home" width="30%" height="30%">
      </p>
      <a href="/patient/dashboard">HOME</a> <!-- back to main home page -->
      <a href="#">SUPPORT MASSAGE</a>
      <a href="#">MORE</a>
    </div>
    </footer>
</html>