<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Quattrocento Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css2?family=Scada&display=swap' rel='stylesheet'>
    <script src="https://code.highcharts.com.cn/highcharts/9.3.2/highcharts.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/9.3.2/modules/data.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/9.3.2/modules/exporting.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/9.3.2/modules/accessibility.js"></script>
    <title>Diabetes@Home</title>
    <link rel="stylesheet" href="/css/doctor/style.css">
    
</head>

<body>
    <div class="header">
        <p><a href="/doctor/dashboard">
            <img src="/media/logo.png" alt="LOGO">
        </a></p>
        <nav>
            <ul>
            <li><a href="./update">Edit Patient Info</a></li>
            <li><a href="/doctor/addNewPatient">New Patient</a></li>
            <li><a href="/doctor/comment">Comments</a></li>
            <li><a href="/doctor/login">Log Out</a></li>
          </ul>
        </nav>

    </div>
    {{!-- body use grid display --}}

    <div class="container">
        <div class="backbutton">
            
            <a href="/doctor/dashboard"><input type="button" value="BACK TO DASHBORD"></a>        {{!-- back button, return to dashboard page --}}
            <br>
        
            
        </div>

        {{#with patient}}
        <div class="pName">
            {{this.first_name}} {{this.last_name}}
        </div>
        {{!-- patient data check box and safe range--}}
        <div class="bgl">
            blood glucose level (in nmol/L)
            <br>
            
            
            <form action="#" method="post">Range:
                <input type="text" class="min" name="glucoseMin" value={{this.blood_glucose_level_minimum}}> 
                -- <input type="text" class="max" name="glucoseMax" value={{this.blood_glucose_level_maximum}}>
                {{#if this.need_blood_glucose_level}}
                    <input type="checkbox" class="choose" name="needGlucose" checked> 
                {{else}}
                    <input type="checkbox" class="choose" name="needGlucose"> 
                {{/if}}
                <input type="submit" class="submitbutton"value="SUBMIT">
            </form>  
        </div>

        <div class="weight">
            weight (in kg)
            <br>
            
            
            <form action="#" method="post">Range:
                <input type="text" class="min" name="weightMin" value={{this.weight_minimum}}> 
                -- <input type="text" class="max" name="weightMax" value={{this.weight_maximum}}>
                {{#if this.need_weight}}
                    <input type="checkbox" class="choose" name="needWeight" checked> 
                {{else}}
                    <input type="checkbox" class="choose" name="needWeight"> 
                {{/if}}
                <input type="submit" class="submitbutton"value="SUBMIT">
            </form>
        </div>

        <div class="insulin">
            doses of insulin taken (number of doses)
            <br>
            

            
            <form action="#" method="post">Range:
                <input type="text" class="min" name="doseMin" value={{this.doses_of_insulin_taken_minimum}}> 
                -- <input type="text" class="max" name="doseMax" value={{this.doses_of_insulin_taken_maximum }}>
                {{#if need_doses_of_insulin_taken}}
                    <input type="checkbox" class="choose" name="needDose" checked> 
                {{else}}
                    <input type="checkbox" class="choose" name="needDose"> 
                {{/if}}
                <input type="submit" class="submitbutton"value="SUBMIT"> 
                
            </form>
        </div>

        <div class="exercise">
            exercise (step count)
            <br>
            

            <form action="#" method="post">Range:
                <input type="text" class="min" name="exerciseMin" value={{this.exercise_minimum}}> 
                -- <input type="text" class="max" name="exerciseMax" value={{this.exercise_maximum }}>
                {{#if need_exercise}}
                    <input type="checkbox" class="choose" name="needExercise" checked> 
                {{else}}
                    <input type="checkbox" class="choose" name="needExercise"> 
                {{/if}}
                <input type="submit" class="submitbutton"value="SUBMIT">
               
            </form>
        </div>
        {{!-- paitent notes, editable, click icon on the right to view history --}}
        <br>
        <div class="notes">
            <br>
            Notes:
            
            <br>
            <form action="#" method="post">
                <textarea name="note" placeholder="Enter notes here, and press return to submit.." required></textarea>
                
                <input type="submit" class="submitbutton"value="SUBMIT">
            </form>
            <a href="/doctor/patientDetail/{{this._id}}/note"><img src="/media/historyicon.png" alt="view history" width="50" height="50"></a>
        </div>
        {{!-- patient support message, editable, click icon on the right to view history --}}
        <div class="supportMessage">
            <br>
            Support Message:
            <br>
            <form action="#" method="post">
                <textarea name="supportMessage" placeholder="Enter support message here, and press return to submit..." required></textarea>
                
                <input type="submit" class="submitbutton"value="SUBMIT">
                
            </form>
            <a href="/doctor/patientDetail/{{this._id}}/message"><img src="/media/historyicon.png" alt="view history" width="50" height="50"></a>
        </div>
        {{/with}}
        {{!-- patient daily data history --}}
        <div class="dailydata">

            <table id="datatableforchart">
                <tr>
                    <th>Date</th>
                    <th>Blood glucose</th>
                    <th>weight</th>
                    <th>dose of insulin</th>
                    <th>exercise</th>
                </tr>

                {{!-- for each record, display its data --}}
                {{#each recordList}}
                <tr>
                    <td>{{this.createdAt}}</td>

                    {{!-- if the data is outside of the safety range or missing, then color become red --}}
                    {{#if this.blood_glucose_level}}
                        <td {{#if (outRange this.blood_glucose_level this.patient.blood_glucose_level_minimum this.patient.blood_glucose_level_maximum)}}style="color:red;"{{/if}}>{{this.blood_glucose_level}}</td>
                    {{else}}
                        <td style="color:red;">missing</td>
                    {{/if}}

                    {{#if this.weight}}
                        <td {{#if (outRange this.weight this.patient.weight_minimum this.patient.weight_maximum)}}style="color:red;"{{/if}}>{{this.weight}}</td>
                    {{else}}
                        <td style="color:red;">missing</td>
                    {{/if}}

                    {{#if this.doses_of_insulin_taken}}
                        <td {{#if (outRange this.doses_of_insulin_taken this.patient.doses_of_insulin_taken_minimum this.patient.doses_of_insulin_taken_maximum)}}style="color:red;"{{/if}}>{{this.doses_of_insulin_taken}}</td>
                    {{else}}
                        <td style="color:red;">missing</td>
                    {{/if}}
                    
                    {{#if this.exercise}}
                        <td {{#if (outRange this.exercise this.patient.exercise_minimum this.patient.exercise_maximum)}}style="color:red;"{{/if}}>{{this.exercise}}</td>
                    {{else}}
                        <td style="color:red;">missing</td>
                    {{/if}}

                </tr>
                {{/each}}
            </table>
            {{!-- 以下 --}}
        <div id="chartcontainer" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <script>
            var chart = Highcharts.chart('chartcontainer', {
	            data: {
                    table: 'datatableforchart'
                    },
	            chart: {
		            type: 'line'
	                },
	            title: {
		            text: 'DAILY RECODING'
		// 该功能依赖 data.js 模块，详见https://www.hcharts.cn/docs/data-modules
	            },
                yAxis:{
                            title: {
                                text: 'data'
                            },
                            type: 'logarithmic',
                            minorTickInterval: 0.1
                        },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.series.name + '</b><br/>' +
                            this.point.y + ' 个' + this.point.name.toLowerCase();
                    }
                }
            });
        </script>
        {{!-- 以上 --}}

        </div>
        {{!-- 以下 --}}
        {{!-- <div id="chartcontainer" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <script>
            var chart = Highcharts.chart('chartcontainer', {
	            data: {
                    table: 'datatableforchart'
                    },
	            chart: {
		            type: 'line'
	                },
	            title: {
		            text: 'DAILY RECODING'
		// 该功能依赖 data.js 模块，详见https://www.hcharts.cn/docs/data-modules
	            },
                yAxis:{
                            title: {
                                text: 'data'
                            },
                            type: 'logarithmic',
                            minorTickInterval: 0.1
                        },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.series.name + '</b><br/>' +
                            this.point.y + ' 个' + this.point.name.toLowerCase();
                    }
                }
            });
        </script> --}}
        {{!-- 以上 --}}
        
    </div>
  <footer>
    <div class="CHARTVIEW"> {{!-- link to chart view page --}}
        {{#with patient}}
        <a href="/doctor/patientDetail/{{this._id}}">TABLE VIEW</a>
        {{/with}}
    </div>
  </footer>

</body>
</html>
