<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Quattrocento Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css2?family=Scada&display=swap' rel='stylesheet'>
    <title>Diabetes@Home</title>
    <link rel="stylesheet" href="/css/doctor/style.css">
</head>

<body>
    <div class="header">
        <p><a href="/doctor/">
            <img src="/media/logo.png" alt="LOGO">
        </a></p>
        <nav>
            <ul>
            <li><a href="#">New Patient</a></li>
            <li><a href="#">Comments</a></li>
            <li><a href="#">Log Out</a></li>
          </ul>
        </nav>

    </div>
    {{!-- body use grid display --}}

    <div class="container">
        <div class="backbutton">
            <a href="/doctor/"><input type="button" value="BACK TO DASHBORD"></a>        {{!-- back button, return to dashboard page --}}
        </div>

        {{#with patient}}
        <div class="pName">
            {{this.first_name}} {{this.last_name}}
        </div>
        {{!-- patient data check box and safe range--}}
        <div class="bgl">
            blood glucose level (in nmol/L)
            <br>
            <br>
            Range:
            <form action="#" method="post">
                <input type="text" class="min" placeholder={{this.blood_glucose_level_minimum}} readonly> 
                -- <input type="text" class="max" placeholder={{this.blood_glucose_level_maximum}} readonly>
                <input type="checkbox" class="choose"> 
            </form>  
        </div>

        <div class="weight">
            weight (in kg)
            <br>
            <br>
            Range:
            <form action="#" method="post">
                <input type="text" class="min" placeholder={{this.weight_minimum}} readonly>
                 -- <input type="text" class="max" placeholder={{this.weight_maximum}} readonly>
                <input type="checkbox" class="choose"> 
            </form>
        </div>

        <div class="insulin">
            doses of insulin taken (number of doses)
            <br>
            <br>

            Range:
            <form action="#" method="post">
                <input type="text" class="min" placeholder={{this.doses_of_insulin_taken_minimum }} readonly>
                 -- <input type="text" class="max" {{this.doses_of_insulin_taken_maximum}} readonly>
                <input type="checkbox" class="choose"> 
            </form>
        </div>

        <div class="exercise">
            exercise (step count)
            <br>
            <br>

            Range:
            <form action="#" method="post">
                <input type="text" class="min" placeholder={{this.exercise_minimum}} readonly> 
                -- <input type="text" class="max" placeholder={{this.exercise_maximum }} readonly>
                <input type="checkbox" class="choose"> 
            </form>
        </div>
        {{!-- paitent notes, editable, click icon on the right to view history --}}
        <div class="notes">
            Notes:
            <br>
            <form action="#" method="post">
                <textarea name="notes" >Enter notes here, and press return to submit...</textarea>
            </form>
            <a href="#"><img src="/media/historyicon.png" alt="view history" width="50" height="50"></a>
        </div>
        {{!-- paitent support message, editable, click icon on the right to view history --}}
        <div class="supportMessage">
            Support Message:
            <br>
            <form action="#" method="post">
                <textarea name="supportMessage" >Enter support message here, and press return to submit...</textarea>
                
            </form>
            <a href="#"><img src="/media/historyicon.png" alt="view history" width="50" height="50"></a>
        </div>
        {{/with}}
        {{!-- patient daily data history --}}
        <div class="dailydata">
            <table>
                <tr>
                    <th>Date</th>
                    <th>Blood glucose</th>
                    <th>weight</th>
                    <th>dose of insulin</th>
                    <th>exercise</th>
                </tr>

                {{#each recordList}}
                <tr>
                    <td>{{this.createdAt}}</td>

                {{#if this.blood_glucose_level}}
                    <td {{#if (outRange this.blood_glucose_level this.patient.blood_glucose_level_minimum this.patient.blood_glucose_level_maximum)}}style="color:red;"{{/if}}>{{this.blood_glucose_level}}</td>
                {{else}}
                    <td style="color:red;">missing</td>
                {{/if}}

                {{#if this.weight}}
                    <td {{#if (outRange this.weight this.patient.weight_minimum this.patient.weight_maximum)}}style="color:red;"{{/if}}>{{this.weight}}</td>
                {{else}}
                    <td style="color:red;">missing</td>
                {{/if}}

                {{#if this.doses_of_insulin_taken}}
                    <td {{#if (outRange this.doses_of_insulin_taken this.patient.doses_of_insulin_taken_minimum this.patient.doses_of_insulin_taken_maximum)}}style="color:red;"{{/if}}>{{this.doses_of_insulin_taken}}</td>
                {{else}}
                    <td style="color:red;">missing</td>
                {{/if}}
                
                {{#if this.exercise}}
                    <td {{#if (outRange this.exercise this.patient.exercise_minimum this.patient.exercise_maximum)}}style="color:red;"{{/if}}>{{this.exercise}}</td>
                {{else}}
                    <td style="color:red;">missing</td>
                {{/if}}

                </tr>
                {{/each}}
            </table>

        </div>
    </div>
  <footer>
    <div class="CHARTVIEW"> {{!-- link to chart view page --}}
        <a href="#">CHART VIEW</a>
    </div>
  </footer>

</body>
</html>
