{{#with oneItem}}

<h1>{{this.first_name}} {{this.last_name}}</h1>

<form>
    <label for="blood_glucose_level_minimum">blood glucose level</label><br>
    <input type="number" placeholder={{this.blood_glucose_level_minimum}} name="blood_glucose_level_minimum" />
    <input type="number" placeholder={{this.blood_glucose_level_maximum}} name="blood_glucose_level_maximum" /><br><br>
    <label for="weight_minimum">weight</label><br>
    <input type="number" placeholder={{this.weight_minimum}} name="weight_minimum" />
    <input type="number" placeholder={{this.weight_maximum}} name="weight_maximum" /><br><br>
    <label for="doses_of_insulin_taken_minimum">doses of insulin taken</label><br>
    <input type="number" placeholder={{this.doses_of_insulin_taken_minimum}} name="doses_of_insulin_taken_minimum" />
    <input type="number" placeholder={{this.doses_of_insulin_taken_maximum}} name="doses_of_insulin_taken_maximum" /><br><br>
    <label for="exercise_minimum">weight</label><br>
    <input type="number" placeholder={{this.exercise_minimum}} name="exercise_minimum" />
    <input type="number" placeholder={{this.exercise_maximum}} name="exercise_maximum" /><br><br>
</form>
{{/with}}

<table border="1">
    <tr>
        <th>time</th>
        <th>blood glucose</th>
        <th>weight</th>
        <th>doses of insulin</th>
        <th>exerices</th>
    </tr>
    {{#each recordList}}
        <tr>
            <td>{{this.updatedAt}}</td>
            <td>{{this.blood_glucose_level}}</td>
            <td>{{this.weight}}</td>
            <td>{{this.doses_of_insulin_taken}}</td>
            <td>{{this.exercise}}</td>
        </tr>
    {{/each}}
</table>

